[Unit]
Description=Periodic Aevum Healthcheck

[Timer]
OnBootSec=180s
OnUnitActiveSec=10m
AccuracySec=1m
Persistent=true

[Install]
WantedBy=timers.target
